[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=
Exec=/home/ritt/firefox/firefox
Icon=/home/ritt/firefox/browser/chrome/icons/default/default128.png
Path=
Terminal=false
StartupNotify=false
